html {
  height: 100%;
  width: 100%;
}

body, html {
  margin: 0;
  padding: 0;
}
 #welcome {
   text-align: center;
 }

body {
  background-color: #82BAC4;
}

#name {
  text-align: center;
}

#interests {
  text-align: center;
}

.content {
  margin-top: 60px;
}
header {
  background-color: #AFCBD5;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: fixed;
}

.girl-groups {
  text-align: center;
}